:root{
    --body: #D9D9D9;
    --key-on: #E03616;
    --key-off: #7A7A7A;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    overscroll-behavior-y: contain;
    user-select: none;
    background-color: var(--body);
}

.keys{
    position: relative;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 20px;
    height: 100%;
    font-family: 'Fredoka One', cursive;
    font-size: 3em;
}

.keys:last-of-type{
    margin-top: 24px;
    padding-top: 32px;
}

.keys:last-of-type::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 8px;
    background-color: var(--key-off);
    border-radius: 8px;
}

.keys > *{
    position: relative;
    color: var(--key-off);
    transition: color 0.2s ease-in-out;
}

.keys > *.active{
    color: var(--key-on);
}

.keys > *:nth-child(7){
    grid-column:2;
}

.keys > *::before{
    content: attr(data-key);
}

.keys.complete > *{
    -webkit-animation: konamicodecomplete 0.4s ease-in-out;
    animation: konamicodecomplete 0.4s ease-in-out;
}

.keys.complete > *:nth-child(2){ -webkit-animation-delay: .1s; animation-delay: .1s; }
.keys.complete > *:nth-child(3){ -webkit-animation-delay: .2s; animation-delay: .2s; }
.keys.complete > *:nth-child(4){ -webkit-animation-delay: .3s; animation-delay: .3s; }
.keys.complete > *:nth-child(5){ -webkit-animation-delay: .3s; animation-delay: .3s; }
.keys.complete > *:nth-child(6){ -webkit-animation-delay: .4s; animation-delay: .4s; }
.keys.complete > *:nth-child(7){ -webkit-animation-delay: .5s; animation-delay: .5s; }
.keys.complete > *:nth-child(8){ -webkit-animation-delay: .6s; animation-delay: .6s; }
.keys.complete > *:nth-child(9){ -webkit-animation-delay: .7s; animation-delay: .7s; }
.keys.complete > *:nth-child(10){ -webkit-animation-delay: .8s; animation-delay: .8s; }

@-webkit-keyframes konamicodecomplete{
    0{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes konamicodecomplete{
    0{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}