@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
    --body: #D9D9D9;
    --key-on: #E03616;
    --key-off: #7A7A7A;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    overscroll-behavior-y: contain;
    user-select: none;
    background-color: var(--body);
}

.keys{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 20px;
    height: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 4em;
}

.keys > *{
    position: relative;
    color: var(--key-off);
    transition: color 0.2s ease-in-out;
}

.keys > *.active{
    color: var(--key-on);
}

.keys > *:nth-child(7){
    grid-column:2;
}

.keys > *::before{
    content: attr(data-key);
}

.keys > *::after{
    content: attr(data-key);
    position: absolute;
    left: 0;
    opacity: 0;
}

.keys.complete > *::after{
    -webkit-animation: konamicodecomplete 0.4s ease-in-out;
    animation: konamicodecomplete 0.4s ease-in-out;
}

@-webkit-keyframes konamicodecomplete{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(8);
        opacity: 0;
    }
}

@keyframes konamicodecomplete{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(8);
        opacity: 0;
    }
}